@import 'bootstrap/dist/css/bootstrap.min.css';
@import './style.css';

/* Arabic Fonts */
@font-face {
    font-family: 'Readex Pro';
    src: url('/fonts/readexPro/ReadexPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Readex Pro';
    src: url('/fonts/readexPro/ReadexPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Readex Pro';
    src: url('/fonts/readexPro/ReadexPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Readex Pro';
    src: url('/fonts/readexPro/ReadexPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Readex Pro';
    src: url('/fonts/readexPro/ReadexPro-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

/* RTL Styles moved to main.tsx for correct cascading and to avoid @import errors */
